h1 {
    background-color: rgb(228, 143, 228);
    padding: 10px;
    text-align: center;
    margin: 0px;

}

.pplBackground {
    background-color: rgb(247, 203, 247);
}

.image{
    position: absolute;
    /*background-color: black;*/
    margin-top: 0px;
    text-align: center;
    width: 100%;
    /*left: 25%*/
}
#redbox {
    text-align: center;
    background-color: red;
    color: white;
    width: 25%;    
}

#right {
    position: absolute;
    left: 80%;
    margin-top: 250px;
    font-size: x-large;
    color: white;
}

#button {
    width: 25%;
}

#center{
    text-align:center;
    font-size: large;
}

.leftbuttonbackground {
    background-color: red;
    /*color: white;*/
    position: absolute;
    left: 2.5%;
    margin-top: 185px;
    font-size: 67px;
    width: 20%;
    height: 17%;
    border: none;
}

.leftbutton {
    position: absolute;
    left: 6%;
    margin-top: 185px;
    font-size: 67px;
    width: 20%;
    height: 17%;
    border: none;
}

.background {
    background-color: black;
}

#parent { white-space: nowrap; }
.child { display: inline-block; }