img {
    height:3rem;
    width:auto;
}

.righttext {
    position: absolute;
    left: 35%;
    text-align: center;
}

#question {
    position: absolute;
    left: 20%;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    text-align: center;
}

.pplBackground {
    background-color: rgb(247, 203, 247);
}